.header {
    margin: 0 auto 0;
    padding: 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    border-bottom: 1px solid #5C5C5D;
    .logo {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 0;
        height: 18vh;
        .logo {
            max-width: 70%;
        }
    }
 }
 