* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: linear-gradient(297.9deg, #323237 15.11%, #000000 90.89%);
  ;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a.carousel-control-prev, a.carousel-control-next {
  top: -11vh;
  transform: translateY(-50%);
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
}
a.carousel-control-next {
  justify-content: flex-end;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow {
  display: none;
}
.tooltip.bs-tooltip-bottom .tooltip-inner {
  transform: translateX(-18%);
  padding: 5px;
  max-width: none;
  background-color: #fff;
  border-radius: 4px;
  color:#000;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
}
span.carousel-control-prev-icon, span.carousel-control-next-icon {
  background-image: url('../src/img/arrow.svg');
}
span.carousel-control-next-icon{
  transform: scale(-1);
}

@media (max-width: 700px) {
  a.carousel-control-prev, a.carousel-control-next {
    top: -9vh;
    transform: translate(-20%, -50%);
  }
  a.carousel-control-prev {
    top: -9vh;
    transform: translate(20%, -50%);
  }
}
